body {
    background-color: rgb(215, 213, 213);
    margin: 0;
   }
   
   .container {
    width: 100%;
    height: 700px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .button {
    margin-top: 60px;
    padding: 30px 20px;
    font-size: 2em;
    background-color: rgb(248, 221, 160);
    border-radius: 20px;
    cursor: pointer;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
   }
   .button2 {
    margin-top: 60px;
    padding: 30px 20px;
    font-size: 2em;
    background-color: rgb(248, 221, 160);
    border-radius: 20px;
    cursor: pointer;
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   
   .slider-item {
    margin-top: 95px;
    height: 80%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    position: center;
    display: flex;
   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
   
    opacity: 0;
    transition: 0.25s;
   }
   
   .selected {
    z-index: 2;
    opacity: 1;
   }